@page "/movies/{MovieId}"
@inject IHttpService Http

@if (message != null)
{
    @message
    <br />
}
else
{
    @if (movie == null)
    {
        <p><em>Loading...</em></p>
    }
    else
    {
        <h3>Actors from @movie.Title</h3>
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Age</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var actor in actors)
                {
                    <tr>
                        <td>@actor.Name</td>
                        <td>@actor.Age</td>
                    </tr>
                }
            </tbody>
        </table>
    }
}


@code {

    [Parameter] public string MovieId { get; set; }

    private Movie movie { get; set; }
    private List<Actor> actors = new List<Actor>();
    private string message { get; set; }

    protected override async Task OnInitializedAsync()
    {
        try
        {
            movie = await Http.Get<Movie>($"{APIConstants.MoviesEndpoint}/{int.Parse(MovieId)}");
            actors = await Http.Get<List<Actor>>($"{APIConstants.ActorsFromMovieEndpoint}/{int.Parse(MovieId)}");
        }
        catch (Exception ex)
        {
            message = ex.Message;
            StateHasChanged();
        }
    }
}
